@font-face {
    font-family: 'icomoon';
    src: url("../fonts/icomoon/icomoon.eot?srf3rx");
    src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"),
    url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"),
    url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"),
    url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "PT Sans", Arial, serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.5;
    color: #666666;
    color: #7f7f7f;
    background: #fff;
    height: 100%;
    position: relative;
}

a {
    color: #3BBFB4;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
a:hover, a:active, a:focus {
    color: #3BBFB4;
    outline: none;
}

p {
    margin-bottom: 1.5em;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
    font-family: "PT Sans", Arial, serif;
    font-weight: 400;
    margin: 0 0 30px 0;
}

::-moz-selection {
    color: #fff;
    background: #1fb5f6;
}

.copyrights{
    text-indent:-9999px;
    height:0;
    line-height:0;
    font-size:0;
    overflow:hidden;
}

::selection {
    color: #fff;
    background: #1fb5f6;
}

#fh5co-header {
    position: fixed;
    z-index: 99;
    width: 100%;
    opacity: 1;
    top: 0;
}
#fh5co-header .navbar {
    padding-bottom: 0;
    margin-bottom: 0;
}
#fh5co-header #navbar .navbar-right {
    margin-right: 0;
}
@media screen and (max-width: 992px) {
    #fh5co-header #navbar .navbar-right {
        margin-right: -15px;
    }
}
#fh5co-header #navbar li a {
    font-family: "PT Sans", Arial, serif;
    color: rgba(0, 0, 0, 0.5);
    position: relative;
    font-size: 16px;
    font-weight: 400;
}
@media screen and (max-width: 992px) {
    #fh5co-header #navbar li a {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}
#fh5co-header #navbar li a span {
    position: relative;
    display: block;
    padding-bottom: 2px;
}
#fh5co-header #navbar li a span:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
#fh5co-header #navbar li a:hover {
    color: #000;
}
#fh5co-header #navbar li a:hover span:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}
#fh5co-header #navbar li.active a {
    background: transparent;
    background: none;
}
@media screen and (max-width: 480px) {
    #fh5co-header #navbar li.active a {
        color: #3BBFB4;
    }
}
#fh5co-header #navbar li.active a span:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    background-color: #3BBFB4;
}
@media screen and (max-width: 480px) {
    #fh5co-header #navbar li.active a span:before {
        background-color: transparent;
    }
}
#fh5co-header #navbar li.call-to-action a {
    border: 2px solid #3BBFB4;
    padding: 5px 10px 3px 10px;
    margin: 12px 0 0 0px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
}
#fh5co-header #navbar li.call-to-action a:hover {
    background-color: #3BBFB4;
    color: #fff;
}
#fh5co-header #navbar li.call-to-action a span:before {
    background-color: transparent;
}
#fh5co-header .navbar-brand {
    float: left;
    display: block;
    font-size: 24px;
    font-weight: 700;
    padding-left: 0;
    color: #535659;
    text-transform: uppercase;
    letter-spacing: 3px;
}
#fh5co-header .navbar-brand > span {
    color: #3BBFB4;
}
@media screen and (max-width: 992px) {
    #fh5co-header .navbar-brand {
        padding-left: 10px !important;
        padding-right: 0 !important;
    }
}
#fh5co-header.navbar-fixed-top {
    position: fixed !important;
    background: #fff;
    -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    margin-top: 0px;
    top: 0;
}
#fh5co-header.navbar-fixed-top .navbar-brand {
    color: #535659;
}
#fh5co-header.navbar-fixed-top #navbar li a {
    color: rgba(0, 0, 0, 0.5) !important;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
#fh5co-header.navbar-fixed-top #navbar li a:hover {
    color: #3BBFB4;
}
#fh5co-header.navbar-fixed-top #navbar li.active a {
    color: #3BBFB4 !important;
}
@media screen and (max-width: 768px) {
    #fh5co-header.navbar-fixed-top #navbar li.active a {
        color: #3BBFB4 !important;
    }
}
#fh5co-header.navbar-fixed-top #navbar li.active a span:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    background-color: #3BBFB4
}
@media screen and (max-width: 768px) {
    #fh5co-header.navbar-fixed-top #navbar li.active a span:before {
        background-color: transparent;
    }
}
#fh5co-header.navbar-fixed-top #navbar li.call-to-action a {
    border: 2px solid #3BBFB4;
    padding: 5px 10px 3px 10px;
    margin: 12px 0 0 0px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
}
#fh5co-header.navbar-fixed-top #navbar li.call-to-action a:hover {
    background-color: #3BBFB4;
    color: #fff !important;
}
#fh5co-header.navbar-fixed-top #navbar li.call-to-action a span:before {
    background-color: transparent;
}
#fh5co-header .navbar-default {
    border: transparent;
    background: #fff;
    margin: 0;
    padding-left: 50px;
    padding-right: 50px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
}
@media screen and (max-width: 768px) {
    #fh5co-header .navbar-default {
        margin-top: 0px;
        padding-right: 0px;
        padding-left: 0px;
    }
}
#fh5co-header .navbar-default .brand-slogan {
    margin: 28px 0 0 15px;
    float: left;
    letter-spacing: 2px;
    color: #adadad;
}
#fh5co-header .navbar-default .brand-slogan em {
    color: #3BBFB4;
    font-style: normal;
}

#fh5co-home {
    background-color: transparent;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    width: 100%;
    background-color: #3BBFB4;
    color: #fff;
}
#fh5co-home a {
    color: rgba(255, 255, 255, 0.8) !important;
    text-decoration: underline;
}
#fh5co-home a:hover {
    color: #fff;
    text-decoration: none;
}
#fh5co-home .gradient {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.3);
}
#fh5co-home, #fh5co-home .text-wrap {
    height: 900px;
}
#fh5co-home .text-wrap {
    display: table;
    width: 100%;
    position: relative;
    z-index: 4;
}
#fh5co-home .text-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
#fh5co-home .text-inner h1 {
    font-size: 38px;
    text-transform: uppercase;
    color: white;
    margin: 0 0 20px 0;
    font-weight: 700;
}
#fh5co-home .text-inner h2 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
    margin: 0 0 60px 0;
}
#fh5co-home .text-inner .call-to-action {
    display: block;
    width: 100%;
}
#fh5co-home .text-inner .call-to-action a {
    width: 230px;
    display: inline-block;
    font-size: 20px;
    padding: 15px 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    margin-right: 10px;
    -webkit-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
    -ms-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
    -o-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
    box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
}
#fh5co-home .text-inner .call-to-action a.demo {
    border: 2px solid #fff;
    text-decoration: none !important;
}
@media screen and (max-width: 768px) {
    #fh5co-home .text-inner .call-to-action a.demo {
        margin-bottom: 20px;
    }
}
#fh5co-home .text-inner .call-to-action a.demo:hover {
    background: rgba(255, 255, 255, 0.2);
}
#fh5co-home .text-inner .call-to-action a.download {
    border: 2px solid #3BBFB4;
    background: #3BBFB4;
    text-decoration: none !important;
}

#fh5co-services, #fh5co-footer {
    padding: 5em 0;
}
@media screen and (max-width: 768px) {
    #fh5co-services,   #fh5co-footer {
        padding: 2em 0;
    }
}

#fh5co-work, #fh5co-counters {
    padding: 7em 0;
}
@media screen and (max-width: 768px) {
    #fh5co-work, #fh5co-counters {
        padding: 4em 0;
    }
}



.mt {
    margin-top: 80px;
    margin-bottom: 80px;
}
.mt h4 {
    position: relative;
    padding-left: 40px;
    font-size: 20px;
}
.mt h4 i {
    position: absolute;
    left: 0;
    top: 0;
    color: #1fb5f6;
}
.mt > div {
    margin-bottom: 40px;
}
.mt .list-nav {
    margin: 50px 0 0 0;
    padding: 0;
}
.mt .list-nav li {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    padding-left: 30px;
    margin-bottom: 10px;
    position: relative;
}
.mt .list-nav li i {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 18px;
    color: #1fb5f6;
}


.fh5co-services .box-services {
    position: relative;
    margin-bottom: 70px;
}
.fh5co-services .box-services i {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 54px;
    color: #1fb5f6;
}
.fh5co-services .fh5co-post {
    padding-left: 75px;
}
.fh5co-services .fh5co-post h3 {
    font-size: 20px;
    margin-bottom: 15px;
}


.section-heading {
    float: left;
    width: 100%;
    padding-bottom: 50px;
    margin-bottom: 0px;
    clear: both;
}
.section-heading h2 {
    margin: 0 0 0 0;
    font-size: 40px;
    font-weight: 400;
    color: #333;
    position: relative;
    display: block;
    padding-bottom: 10px;
    line-height: 1.5;
}
@media screen and (max-width: 768px) {
    .section-heading h2 {
        font-size: 28px;
    }
}
.section-heading h3 {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #8f989f;
    position: relative;
    display: block;
    padding-bottom: 30px;
}
.section-heading h3:after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 2px;
    background: #1fb5f6;
    left: 50%;
    margin-left: -25px;
    bottom: 0;
}
@media screen and (max-width: 768px) {
    .section-heading h3 {
        font-size: 16px !important;
        line-height: 28px;
    }
}

#fh5co-footer {
    background: #3f5267;
    color: #74889e;
}
#fh5co-footer a {
    color: #74889e;
}
#fh5co-footer a:hover {
    color: #fff !important;
    text-decoration: underline;
}
#fh5co-footer .section-title {
    font-size: 22px;
    color: #fff;
    position: relative;
    padding-bottom: 20px;
}
#fh5co-footer .section-title:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    display: block;
    width: 35px;
    height: 2px;
    background: #1fb5f6;
}
#fh5co-footer .copy-right {
    position: relative;
    padding-top: 20px;
    margin-top: 40px;
}
#fh5co-footer .copy-right > a {
    color: rgba(255, 255, 255, 0.4);
}
#fh5co-footer .copy-right:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    display: block;
    width: 35px;
    height: 2px;
    background: #1fb5f6;
}
#fh5co-footer .contact-info {
    margin: 0 0 60px 0;
    padding: 0;
}
#fh5co-footer .contact-info li {
    font-size: 16px;
    list-style: none;
    margin: 0 0 20px 0;
    position: relative;
    padding-left: 40px;
}
#fh5co-footer .contact-info li i {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 22px;
    color: #1fb5f6;
}
#fh5co-footer .social-media {
    margin: 0 0 30px 0;
    padding: 0;
}
#fh5co-footer .social-media li {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 24px;
    margin-right: 10px;
}
#fh5co-footer .social-media li a {
    color: #1fb5f6;
}
#fh5co-footer .social-media li a:hover, #fh5co-footer .social-media li a:focus, #fh5co-footer .social-media li a:active {
    text-decoration: none;
}

#fh5co-footer .contact-form .form-group input {
    color: #fff;
    background: transparent;
    border: none;
    background: #485b71;
    box-shadow: none;
}
#fh5co-footer .contact-form .form-group textarea {
    color: #fff;
    background: transparent;
    border: none;
    background: #485b71;
    box-shadow: none;
}
#fh5co-footer #btn-submit {
    color: rgba(255, 255, 255, 0.9) !important;
    background: #3BBFB4 !important;
}

.btn {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.fh5co-nav-toggle {
    width: 25px;
    height: 25px;
    cursor: pointer;
    text-decoration: none;
}
.fh5co-nav-toggle.active i::before, .fh5co-nav-toggle.active i::after {
    background: #3BBFB4;
}
.fh5co-nav-toggle:hover, .fh5co-nav-toggle:focus, .fh5co-nav-toggle:active {
    outline: none;
    border-bottom: none !important;
}
.fh5co-nav-toggle i {
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    width: 25px;
    height: 3px;
    color: #535659;
    font: bold 14px/.4 Helvetica;
    text-transform: uppercase;
    text-indent: -55px;
    background: #535659;
    transition: all .2s ease-out;
}
.fh5co-nav-toggle i::before, .fh5co-nav-toggle i::after {
    content: '';
    width: 25px;
    height: 3px;
    background: #535659;
    position: absolute;
    left: 0;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.fh5co-nav-toggle i::before {
    top: -7px;
}

.fh5co-nav-toggle i::after {
    bottom: -7px;
}

.fh5co-nav-toggle:hover i::before {
    top: -10px;
}

.fh5co-nav-toggle:hover i::after {
    bottom: -10px;
}

.fh5co-nav-toggle.active i {
    background: transparent;
}

.fh5co-nav-toggle.active i::before {
    top: 0;
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.fh5co-nav-toggle.active i::after {
    bottom: 0;
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    -ms-transform: rotateZ(-45deg);
    -o-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
}

.fh5co-nav-toggle {
    position: absolute;
    top: 2px;
    right: 15px;
    z-index: 21;
    padding: 6px 0 0 0;
    display: block;
    margin: 0 auto;
    display: none;
    height: 44px;
    width: 25px;
    border-bottom: none !important;
}
@media screen and (max-width: 768px) {
    .fh5co-nav-toggle {
        display: block;
    }
}

.btn {
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.btn.btn-primary {
    background: #3BBFB4;
    color: #fff;
    border: none !important;
    border: 2px solid transparent !important;
}
.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
    box-shadow: none;
    background: #3BBFB4;
}
.btn:hover, .btn:active, .btn:focus {
    background: #393e46 !important;
    color: #fff;
    outline: none !important;
}
.btn.btn-default:hover, .btn.btn-default:focus, .btn.btn-default:active {
    border-color: transparent;
}



#map {
    width: 100%;
    height: 500px;
    position: relative;
}
@media screen and (max-width: 768px) {
    #map {
        height: 200px;
    }
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;

    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
}

.js .to-animate,
.js .to-animate-2,
.js .to-animate-3,
.js .single-animate {
    opacity: 0;
}

@media screen and (max-width: 480px) {
    .col-xxs-12 {
        float: none;
        width: 100%;
    }
}

.row-bottom-padded-lg {
    padding-bottom: 7em;
}
@media screen and (max-width: 768px) {
    .row-bottom-padded-lg {
        padding-bottom: 2em;
    }
}

.row-bottom-padded-md {
    padding-bottom: 4em;
}
@media screen and (max-width: 768px) {
    .row-bottom-padded-md {
        padding-bottom: 2em;
    }
}

.row-bottom-padded-sm {
    padding-bottom: 2em;
}
@media screen and (max-width: 768px) {
    .row-bottom-padded-sm {
        padding-bottom: 2em;
    }
}

.fh5co-animated {
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
